.table {
  border-collapse: collapse;
  width          : 100%;
}

.th,
.td {
  border          : 1px solid #ffffff;
  text-align      : left;
  padding         : 8px;
  font-size       : 32px;
  color           : white;
  background-color: #a10f47;
}

.th {
  color           : white;
  background-color: #77002e;
}

.mr20 {
  margin-top: 1rem;
  text-align: right;
  margin-left     : 10px;
  font-size       : 12px !important;
  font            : inherit;
  cursor          : pointer;
  background-color: white;
  color           : #77002e;
  padding         : 0.5rem 1.5rem;
  border          : 1px solid white;
  border-radius   : 4px;
  font-weight     : bold;
}

.mr20:hover,
.mr20:active {
  background-color: white;
  border-color    : white;
}

.button {
  margin-top: 1rem;
  text-align: right;
}

.button {
  font-size       : 12px !important;
  font            : inherit;
  cursor          : pointer;
  background-color: white;
  color           : #77002e;
  padding         : 0.5rem 1.5rem;
  border          : 1px solid white;
  border-radius   : 4px;
  font-weight     : bold;
}



.button:hover,
.button:active {
  background-color: white;
  border-color    : white;
}